body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
  }
  
  .container {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;

  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(0, 200, 255);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .form-group-inline {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group-half {
    width: 48%;
  }
  
  #message {
    height: 100px;
  }
  
  input[type="checkbox"],
  label[for="offers"] {
    display: inline-block;
    vertical-align: middle;
  }
  
  
  