<!-- <div class="input-group">
    <div class="form-outline">
        <input type="location" id="form1" class="form-control" placeholder="Search"/>
      <span><i class="fa fa-search"></i><input type="search" id="form1" class="form-control" placeholder="Location"/></span>
      <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-primary">
      
    </button>
  </div> -->
<h3>Find Expert</h3>
  <div class="search-container">
    <input type="text" placeholder="Location" class="search-input">
   <!-- <i class="fa fa-search"></i> -->
    <input type="text" placeholder="Search Advisor" class="search-input">
    <button (click)="search()" class="search-button">Search</button>
  </div>
  <div class="growth">
    <p>Choose the expert for your financial growth</p>
    <h2>Your financial health in safe hands</h2>
    <p>Certified advisors & Community members</p>
    <button class="knowmore">Know more</button>
    <img src="https://thumbs.dreamstime.com/z/portrait-asian-business-team-studio-41417081.jpg" alt="">
  </div>

  <p class="para">Private online consultations with verified,certified financial experts in all sectors.     <button class="viewallexperts">ViewAll Experts</button>
  </p>
<!-- <button class="viewallexperts">ViewAll Experts</button> -->
 
